<div class="calendar_day"><%= date.day %></div>
<%= link_to "編集", new_schedule_path(inDate: date), class: "calendar_editLink" if @user == current_user %>
<% schedules.each do |schedule| %>
  <% color = "green" if schedule.availability == "◯" %>
  <% color = "yellow" if schedule.availability == "△" %>
  <div class="ava_content <%= color %>"><%= schedule.availability %></div>
<% end %>