<% talentCard_character = "talentCard_character" %>
<% talentCard_freeWrite = "talentCard_freeWrite" %>

<li class="talentUsers_item">
  <article class="talentCard">
    <%= render partial: "users/profile", locals: { user: user, 
              talentCard_character: talentCard_character, talentCard_freeWrite: talentCard_freeWrite } %>
    <footer class="talentCard_footer">
      <div class="talentCard_userLink">
        <%= link_to "この芸人の詳細を見る", mypage_path(user), class: "button show" %>
      </div>
    </footer>
  </article> 
</li>