<div class="modal-dialog" role="document">
  <div class="modal-content">

  <div class="modal-header">
        <p class="modal-title"><%= @schedule.inDate%></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <%= form_with(model: @schedule, local: true) do |form| %>
        <%= render partial: "radio_form", locals: { form: form} %>
    <% end %>
  </div>
</div>