<h1>ＤＭ一覧</h1>
<%= link_to "マイページに戻る", mypage_path(current_user),class:"edit-link" %>
<% if @rooms.empty?%>
  <p>DMはありません</p>
<% end %>
<div class="roomsIndex">
  <% @rooms.each do |room| %>
    <div class="roomCard">
      <%= link_to room_path(room), class: "dm_list_content_link" do %>
        <h4 class="dm_list_content_link_box_name">
          <%= opponent_user(room).name %>
        </h4>
          <%= most_new_message_preview(room) %>
      <% end %>
    </div>
  <% end %>
</div>