<div class="modal fade" id="aboutApp" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><div class="modal-title" id="myModalLabel">アプリ概要</div></h4>
            </div>
            <div class="modal-body">
                <label>このアプリはお笑い芸人が命がけで生きるためのノウハウを月２回の講義形式で
                        お伝えするアプリになります。
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>