<% content = "このアプリはお笑い芸人が命がけで生きるためのノウハウを月２回の講義形式で
                        お伝えするアプリになります。"%>

<div class="modal fade" id="aboutApp" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4><div class="modal-title" id="myModalLabel">アプリ概要</div></h4>
            </div>
            <div class="modal-body">
                <label>本アプリは、お笑い芸人さんを気軽に依頼することができるマッチングサービスです。<br>
                    決済機能は現状未実装のため、マッチング（芸人さんを探す）特化になっています。<br>
                    基本的な利用フローは以下のような流れになります。 <br>
                　    0.お笑い芸人さんがプロフィールを作成し、一般公開<br>
                    　1.プロフィール（スケジュール）を参考にお笑い芸人さんを探す<br> 
                    　2.DMを送り、日程や時間、金額を決める<br>
                    　3.会う<br>
                    登録は「一般利用ユーザー」と「お笑い芸人」で分けており、それぞれで利用できる機能が異なります。以下が使える機能になります。<br>
                    〈一般利用ユーザー（依頼する側）が使用できる機能〉<br>
                    　・芸人一覧ページで、芸人さんを絞り込み検索（活動場所、空いている日程）<br> 
                    　・芸人さんをフォローする<br>
                    　・芸人さんへダイレクトメッセージを送る<br> 
                    〈お笑い芸人（依頼を受ける側）が使用できる機能〉<br> 
                    　・一覧ページに公開（未公開へ変更可能）<br>
                    　・プロフィールの作成<br>
                    　・簡易スケジュール機能<br>
                    　・ダイレクトメッセージ機能（送られてきたユーザーに対してのみ） 
                </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
    </div>
</div>

