<footer class="footer">
  <small>
    The <a>Ruby on Rails SampleApp</a>
    by <a>YuyaTakeuchi</a>
  </small>
  <nav>
    <ul>
      <li><a href="" data-toggle="modal", data-target="#aboutApp">このアプリについて</a></li>
      <li><%= link_to "問合せ", "#" %></li>
      <li><%= link_to "規約", "#" %></li>
    </ul>
  </nav>
</footer>
